h3 {
    font-size: 25px !important;
}

.btn-success:hover {
background-color: blue;
}

canvas {
    animation-name: nice;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes nice {

    from {box-shadow: 15px 15px 60px purple;}
    to {box-shadow: 15px 15px 60px violet;}

}